@import 'variables.scss';

app-square {
  border: 1px gray solid;
  height: 120px;
}

.btn-x {
  background-color: var(--blue-color);
  color: $offWhite;
}

.btn-o {
  background-color: var(--yellow-color);
}

.btn-highLight {
  background-color: $highLightColor;
  color: $offWhite;
}

.text-x {
  color: var(--blue-color);
}

.text-o {
  color: var(--yellow-color);
}

.text-highLight {
  color: $highLightColor;
}

button {
  border-radius: 0;
}

